*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Retro";
  src: url(fonts/ARCADECLASSIC.TTF);
}
.style9{
  border:none;
  width: 500px;
  height: 500px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.style16{
  border: 4px solid darkblue;
  border-radius: 10px;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.style25{
    border: 4px solid darkblue;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}
.board3{

    background-color: red;
}
.board4{
    background-color:blue;
}
.page{

  display:grid;
  place-items: center;
  color: white;
  /* background-image: url(img/retrowave.jpg); */
  width:100%;
  height:100vh;
  background-color:gray;
}

.home{
  font-family:Retro;
  font-size:10rem !important;
  color: white;
  /* display:grid;
  place-items: center; */
  text-decoration: none;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.glitch {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  top: 50px;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}
.layout{
  font-family: Retro;
  font-size:5rem;
  display:grid;
  place-items: center;
  
}
.hide{
  display:none;
}
ul{
  list-style-type: none;
  cursor: pointer;
}
.square{
  background-color:transparent;
  border-top: none;
  border-left: none;

}