*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@font-face {
  font-family: "Retro";
  src: url(fonts/ARCADECLASSIC.TTF);
}
.home_wrap{
  width: 100%;
  height:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.style9{
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
.style16{
  width: 30rem;
  height: 30rem;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
}
.style25{
    width: 30rem;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(5, 1fr);
}
.page{

  display:grid;
  place-items: center;
  color: white;
  width:100%;
  height:100vh;
}

.container{

  display:grid;
  place-items: center;
  color: white;
  width:100%;
  height:100vh;
  background: url(img/arcade_screen.png) no-repeat center center;
  background-size: 70%;
}
.home{
  font-family:Retro;
  font-size:10rem;
  color: white;
  text-decoration: none;
}
#myVideo {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
.glitch {
  font-weight: bold;
  text-transform: uppercase;
  /* position: relative; */
  top: 50px;
  text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
    0.025em 0.04em 0 #fffc00;
  animation: glitch 725ms infinite;
}

@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  15% {
    text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff,
      0.025em 0.04em 0 #fffc00;
  }
  16% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  49% {
    text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff,
      -0.05em -0.05em 0 #fffc00;
  }
  50% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  99% {
    text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff,
      0 -0.04em 0 #fffc00;
  }
  100% {
    text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff,
      -0.04em -0.025em 0 #fffc00;
  }
}

.layout{
  font-family: Retro;
  font-size:5rem;
  display:grid;
  place-items: center;
}
.hide{
  display:none;
}
ul{
  list-style-type: none;
  cursor: pointer;
  text-align: center;
}
.square{
  font-family: Retro;
  font-size: 5rem;
  background-color:transparent;
  border: 1px solid white;
  color: white;
  width:100%;
  
}
.btnReset{
  font-family: Retro;
  font-size:3rem;
  background-color: transparent;
  color: white;
  border: none;

}
.nextPlayer{
  font-family: Retro;
  font-size:2rem;
  color: white;
}
.winner{
  font-family: Retro;
  text-align: center;
  font-size:5rem;
  color: white;
}
.center{
  display:grid;
  place-items: center;
  
}



@media (max-width:600px){
  .style9{
    width: 7rem;
    height: 7rem;
  }
  .style16{
    width: 6rem;
    height: 6rem;
  }
  .style25{
    width: 6rem;
    height: 6rem;
  }
  .btnReset{
    font-size:1rem;
  }
  .nextPlayer{
    font-size:1em;
  }
  .winner{
   font-size:2.5rem;
  }
  .square{
    font-size:1rem;
  }
  .layout{
    font-size:1.5rem;
  }
  .home{
    font-size:3rem;
  }
  .container{
    background-size: 22rem;
  }
}
@media (min-width: 600px) and (max-width: 767px){
  .style9{
    width: 8rem;
    height: 8rem;
  }
  .style16{
    width: 9rem;
    height: 9rem;
  }
  .style25{
    width: 11rem;
    height: 11rem;
  }
  .btnReset{
    font-size:1.5rem;
  }
  .nextPlayer{
    font-size:1em;
  }
  .winner{
   font-size:3rem;
  }
  .square{
    font-size: 1.5rem;
  }
  .layout{
    font-size:1.8rem;
  }
  .home{
    font-size:7rem;
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  .style9{
    width: 10rem;
    height: 10rem;
  }
  .style16{
    width: 10.5rem;
    height: 10.5rem;
  }
  .style25{
    width: 12rem;
    height: 12rem;
  }
  .btnReset{
    font-size:2rem;
  }
  .nextPlayer{
    font-size:1.5rem;
  }
  .winner{
   font-size:3.5rem;
  }
  .square{
    font-size: 2rem;
  }
  .layout{
    font-size:2rem;
  }
  .home{
    font-size:8rem;
  }
}
@media (min-width: 920px) and (max-width: 991px) {
  .style9{
    width: 15rem;
    height: 15rem;
  }
  .style16{
    width: 17rem;
    height: 17rem;
  }
  .style25{
    width: 17rem;
    height: 17rem;
  }
  .btnReset{
    font-size:2.5rem;
  }
  .nextPlayer{
    font-size:2rem;
  }
  .winner{
   font-size:4rem;
  }
  .square{
    font-size:3rem;
  }
  .layout{
    font-size:2.8rem;
  }
  .home{
    font-size:8rem;
  }
}
@media (min-width: 992px) and (max-width:1420px){
  .style9{
    width: 20rem;
    height: 20rem;
  }
  .style16{
    width: 21rem;
    height: 21rem;
  }
  .style25{
    width: 21.5rem;
    height: 21.5rem;
  }
  .btnReset{
    font-size:2.5rem;
  }
  .nextPlayer{
    font-size:2.5em;
  }
  .winner{
   font-size:4rem;
  }
  .square{
    font-size:4rem;
  }
  .layout{
    font-size:3rem;
  }
 
}
@media (min-width:1420px) and (max-width:1600px){
  .layout{
    font-size:4rem;
  }
} 